.container .jumbotron {
    margin-top: 150px;
    background-color: darkgoldenrod;
    color: white;
}

body {
    background: url(https://images.unsplash.com/photo-1725133306731-fd82b613300f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw5NXx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}