<!DOCTYPE <!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Record</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/data.css"%}">
    </head>
    <body>
        <div class='container'>
            <h1>Student Information</h1><hr>
            {% if student_list %}
                {% for student in student_list %}
                    <h2>{{student.name}} Information</h2>
                    <ul>
                        <li> Student Rollno: {{student.rollno}}</li>
                        <li> Student DOB: {{student.dob}}</li>
                        <li> Student Marks: {{student.marks}}</li>
                        <li> Student Email: {{student.email}}</li>
                        <li> Student Phone Number: {{student.phonenumber}}</li>
                        <li> Student Address: {{student.address}}</li>
                    </ul>
                    <br>
                    {% endfor %}
            {% else %}
            <p>No record found in database</p>
            {% endif %}

        </div>
        
        <script src="" async defer></script>
    </body>
</html>