body{
    background: url(https://media.istockphoto.com/id/1278015899/photo/golden-multicolored-blurred-background.webp?a=1&b=1&s=612x612&w=0&k=20&c=EysHsXUlavVZlHXzaKO2en3pwGqzoOcBEaG3JC6LCMw=);
    background-repeat: no-repeat;
    background-size: cover;
}