<!DOCTYPE <!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>form</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href= "{% static 'css/index.css' %}">
    </head>
    <body>
      <div class="container", align='center'> 
        <div class="jumbotron">
            <h1 class="display-4">Bollywood Movies</h1>
            <p class="lead">Upto date movies information</p><hr>
            <a class="btn btn-primary btn-lg" href="addmovie" role="button">Add Movie</a>
            <a class="btn btn-primary btn-lg" href="listmovies" role="button">List Movies</a>
        </div>
        </form>
      </div> 
    </body>
</html>